<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fouriver</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href = "{%  static 'css/editprofile/editprofile.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
    <style type="text/css">
    .exactCenter {
      width:200px;
      height:200px;
      position: fixed;

      top: 40%;
      left: 60%;
      margin-top: -100px;
      margin-left: -400px;
    }</style>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url({% static 'images/bg_2.jpg' %});background-repeat: no-repeat;background-size: cover " >
<div class="exactCenter" >
    <div class="comtent container">
        <div class="row">
            {% block content  %}
                <form method="POST"> {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save"/>
                </form>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>