<!DOCTYPE html>
{%  load static %}
<html lang="en">
    <head>
        <title>
        Profile Page
        </title>


        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="{%  static 'css/style.css' %}" media="screen" type="text/css" />
            <!------ Include the above in your HEAD tag (profile)---------->

        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href=" 'site_app/css/blog.css' ">
        blog-->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

        <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.css">

        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">

        <link rel="stylesheet" href="css/aos.css">

        <link rel="stylesheet" href="css/ionicons.min.css">

        <link rel="stylesheet" href="css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="css/jquery.timepicker.css">


        <link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/style.css">

    </head>
<!--dynamically passed prof pic username location day of birth social twlink gmail fblink gitlink-->

    <body>

        <div class="hero-wrap js-fullheight" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
              <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">

                <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                    <div class="container">
                      <a class="navbar-brand" href="index.html">Profile Page</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="oi oi-menu"></span> Menu
                      </button>

                      <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>

                          <li class="nav-item cta mr-md-2"><a href="#" class="nav-link">SignUp</a></li>
                          <li class="nav-item cta cta-colored"><a href="#" class="nav-link">Login</a></li>

                        </ul>
                      </div>
                    </div>
                  </nav>
                <!-- END nav -->


                <div class="container">

                    <div  id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                        <form method="POST" action="#" class="search-job">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <div class="icon"><span class="icon-user"></span></div>
                                            <input type="text" class="form-control" name="Username" id="Username" placeholder="eg. Adam Scott">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                <select name="usertype" id="usertype" class="form-control">
                                                    <option value="">Category</option>
                                                    <option value="">Client</option>
                                                    <option value="">Developer</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <div class="form-field">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <input type="submit" value="Search" class="form-control btn btn-primary">
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" >
                        <div  >
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" class="img-rounded img-responsive" />
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <h4>
                                            {{user1.username}}
                                        </h4>
                                        <small>
                                            <cite title="{{ user1.location}}">{{user1.location}}<i class="glyphicon glyphicon-map-marker">
                                        </i></cite>
                                        </small>
                                        <p>

                                            <br />
                                            <i class="glyphicon glyphicon-globe"></i><a href="{{ user1.gmail}}">{{ user1.gmail }}</a>
                                            <br />
                                            <i class="glyphicon glyphicon-gift"></i>{{ user1.birthday}}</p>
                                        <!-- Split button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">
                                                Social</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span><span class="sr-only">Social</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu"> #social here
                                                <li><a href="{{ user1.twlink }}">Twitter</a></li>

                                                <li><a href="{{ user1.fblink }}">Facebook</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ user1.gitlink}}">Github</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="row">

              <div class="col-md">
                    <h1> Projects associated with this profile </h1>
                      {% if user_list %}
                      <ul>
                        {% for user in user_list %}
                      <li style="color:Blue;font-size:30px;" > {{user.id}} {{ user.first_name }} {{user.last_name}} {{user.idiotita}} {{user.password}}</li>
                      {% endfor %}
                    </ul>
                    {% else %}
                      <p>No polls are available.</p>
                  {% endif %}
              </div>
        </div>-->


    <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    </body>