<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Project Details </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/price_rangs.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'assets-ProjectPage/css/main.css' %}">
   </head>

   <body>
    
    <!-- Preloader Start -->
    
    <main>


        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                    {% if Projects.isCompleted != False %}
                    <ul>
                                        <li>Project Completed</li>
                                        <h4>Offer has already accepted by {{ Projects.offerby }} for this project</h4>
                                     </ul>
                    {% endif %}
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                               
                                <div class="job-tittle">
                                    <ul>
                                        <li>Jobtitle</li>
                                        <h4>{{ Projects.jobtitle }}</h4>
                                     </ul>
                                    <ul>
                                        <li>ClientUsername</li>
                                        <h4>{{ Projects.createdby }}</h4>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{ Projects.jobdescription }}</p>
                            </div>


                        </div>
                    <!-- Checking if an offer is already accepted to remove apply button and other offers
                        -->
                        {% if Projects.isCompleted != True %}
                        {% for i in Offers %}
                        <table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Developer Name</th>
								<th class="column2">Date</th>
								<th class="column3">Offer</th>
                                <th class="column4"></th>
							</tr>
						</thead>
						<tbody>

								<tr>
									<td class="column1" >{{i.developername}}</td>
									<td class="column2" >{{i.date_created}}</td>
									<td class="column3" >{{i.money}}</td>
                                    <td class="column4"><a href="{% url 'acceptoffer' Projects.id i.id %}" class="button" >Accept Offer</a></td>
								</tr>


						</tbody>
                    {% endfor %}
                    {% endif %}
					</table>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Project Overview</h4>
                           </div>
                          <ul>

                              <li>Payment Method : <span>{{ Projects.paymentmethod }}</span></li>
                              <li>Job Type : <span>{{ Projects.jobtype }}</span></li>
                              <li>Subcategory :  <span>{{ Projects.category }}</span></li>
                              <li>Privacy : <span>{{ Projects.privacy }}</span></li>
                          </ul>
                            {% if Projects.isCompleted != True %}
                            {% if request.session.username %}
                         <div class="apply-btn2">
                            <a href="{% url 'apply' Projects.id %}" class="btn">Apply Now</a>
                         </div>
                            <div class="apply-btn2">
                                <p></p>
                            <a href="{% url 'reccomend' Projects.id %}" class="btn">Reccomend to Developer</a>
                         </div>
                            {% endif %}
                        {% endif %}
                       </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
    

	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets-ProjectPage/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets-ProjectPage/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/popper.min.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets-ProjectPage/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets-ProjectPage/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/slick.min.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/price_rangs.js' %}"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets-ProjectPage/js/wow.min.js' %}"></script>
		<script src="{% static 'assets-ProjectPage/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets-ProjectPage/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets-ProjectPage/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'assets-ProjectPage/js/contact.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/mail-script.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'assets-ProjectPage/js/plugins.js' %}"></script>
        <script src="{% static 'assets-ProjectPage/js/main.js' %}"></script>
        
    </body>
</html>