{% load static %}
{% csrf_token %} 
<html>
    <head>
        <title>Django Users</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'site_app/css/blog.css' %}">
    </head>
    <body>
      <h1> Welcome to djangoproject i will show you a databases result look close at source code </h1>
      {% if user_list %}
      <ul>
        {% for user in user_list %}
      <li style="color:Blue;font-size:30px;" > {{user.id}} {{ user.first_name }} {{user.last_name}} {{user.idiotita}} {{user.password}}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No polls are available.</p>
  {% endif %}

    </body>
</html>
